.pirmas {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.pirmas span {

    font-family: 'Raleway', sans-serif;
}

.antras {

    font-size: 24px;
}

.antras span {

    color: rgb(120, 110, 4);
}

.trecias {

    width: 40%;
}

.trecias span {

    display: block;
}

.ketvirtas {

    border: solid 4px;
    font-size: 30px;
}

.ketvirtas span {

    font-size: 20px;
}

.penktas {

    font-style: italic;
}

.penktas span {

    font-weight: bold;
}

.sestas {

    text-decoration: underline;
}

.sestas span {

    text-decoration: line-through;
}

.septintas {

  line-height: 26px;
    
}

.septintas span {

    text-transform: uppercase;
}

.astuntas {

    text-indent: 30px;
}

.astuntas span {

    background-color:rgb(225, 211, 61);
}

.devintas {

    background-color: rgb(225, 211, 61);
}

.devintas span {

    background-color: white;
}

.desimtas {

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(174, 145, 72);
    font-size: 30px;
}

.desimtas span {

text-decoration: underline;

}

h1 {

    font-size: 40px;
    font-weight: normal;
    color: darkgoldenrod;
    text-transform: uppercase;
    letter-spacing: 2px;

}

.pirmasdiv {

    width: 50%;
    height: 200px;
    background-color: gainsboro;
    
    }
    
    .antrasdiv {
    
        width: 50%;
        height: 200px;
        background-color: rgb(163, 191, 161);
    
    }
    
    .treciasdiv {
    
        width: 50%;
        height: 200px;  
        background-color: rosybrown;
        padding: 20px;
        border: solid 5px;
    
    }
    
    .ketvirtasdiv {
    
        width: 50%;
        height: 200px;
        background-color: silver;
        padding: 20px;
        border: solid 5px;
        box-sizing: border-box;
    
    }
    

