body {
    background-image: url(../images/bg1.png);
    background-repeat: repeat;
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin: 0 auto;
    width: 800px;
    height: 1050px;
    background: white;
    background-image: url(../images/bg2.png),
    url(../images/bg3.png);
    background-position: top left, bottom;;
    background-repeat: no-repeat, no-repeat;
}

.logo {
    position: relative;
    top: 80px;
    left: 100px;
}

header ul {
    position: relative;
    top: -80px;
    right: 20px;
    list-style-type: none;
    text-align: right;
}

li {
    position: relative;
    padding: 2px 0;
    font-size: 15px;
    font-weight: 600;
    color: rgb(162, 162, 162);
}

li img {
    height: 25px;
    position: relative; 
    top: 5px;
    padding-left: 10px;
}

h1 {
    text-transform: uppercase;
    margin: 15px 0px 0px 30px;
    letter-spacing: 2px;

}

span {
    color: skyblue;
}

.line {
    width: 270px;
    height: 5px;
    background-color: skyblue;
    margin: 15px 0px 0px 30px;
}

.short {
    color:rgb(154, 154, 154);
    margin: 15px 0px 0px 30px;
}

.paragraph {
    color:rgb(154, 154, 154);
    margin: 15px 20px 0px 30px;
    text-align: justify;
    font-size: 15px;
}

.line-2 {
    width: 270px;
    height: 5px;
    background-color: skyblue;
   margin: 15px 0px 0px 30px;
}

.paragraph-2 {
    color:rgb(154, 154, 154);
    margin: 15px 20px 0px 30px;
    text-align: justify;
    font-size: 15px;
}

.signature {
    font-family: 'Great Vibes', cursive;
    color:rgb(154, 154, 154);
    font-size: 40px;
    margin: 40px 0 0 30px;
}
